body {
  background-color: honeydew;
}
.garlicimg {
  margin-left: -60px;
  clear: both;
  position: absolute;
}


h1 {
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 250%;
  margin-bottom: 20px;
}

h2{
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  margin-bottom: -10px;
}

h3 {
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC';
}

#results {
  width: 100%;
	text-align: center;
}

#summary, #link, #name, #article{
  font-family: 'News Cycle', sans-serif;
}
#comment{
  width: 40%;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

table,
td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

table {
  width: 500px;
  background-color: antiquewhite;
}

td {
  padding: 15px;
  text-align: center;
}

button {
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: red;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: absolute;
  display: inline-block;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
